* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    --color-background-light: #384A61;
    --color-background-dark: #181D24;
    --color-foreground-primary: rgba(197, 214, 226, 0.5);
    --color-foreground-secondary: rgba(197, 214, 226, 0.2);
    --color-foreground-highlight: rgba(197, 214, 226, 0.8);
    --color-foreground-faded: rgba(197, 214, 226, 0.1);

    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom left, var(--color-background-light), var(--color-background-dark));
    color: var(--color-foreground-primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: var(--color-foreground-highlight);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}